name: Playwright Tests & Allure Report

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build
      run: dotnet build

    - name: Ensure Playwright browsers are installed
      run: pwsh bin/Debug/net8.0/playwright.ps1 install --with-deps

    - name: Run tests
      run: |
        dotnet test --configuration Debug --no-build --logger "trx;LogFileName=TestResults.trx"
      continue-on-error: true

    - name: Archive raw test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: raw-test-results
        path: |
          **/TestResults/*.trx
          **/allure-results

    - name: Get Allure history
      uses: actions/checkout@v4
      if: always()
      continue-on-error: true
      with:
        ref: gh-pages
        path: gh-pages

    - name: Allure Report Action
      uses: simple-elf/allure-report-action@v1.7
      if: always()
      with:
        allure_results: bin/Debug/net8.0/allure-results
        gh_pages: gh-pages
        allure_report: allure-report
        allure_history: allure-history

    - name: Deploy report to Github Pages
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: allure-history
